/* .logo {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.logo {
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes example {
  0% {
    background-color: #555555;
    top: 0px;
  }
  50% {
    background-color: #2a7e5f;
    top: 0px;
  }
  100% {
    background-color: #033333;
    top: 0px;
  }
}

.introMessage{
  padding-top:2rem;
  width:40%;
  border-radius: 35px;
}

.introMessage p {
  
  background-color: #0ead;
   border: 1px solid grey;
  border-radius: 10px;
  padding:2rem;
  font-size: 1.3rem;
  font-weight: bold;


}
.treeOptions {
  padding-top: 2rem;
}

.jsonForm {
  display: grid;
}

li {
  list-style-type: none;
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

.form{
  width:350px;
  padding: 2rem 2rem;
  border-radius: .5rem;
  /* border: 1px solid black; 
  box-shadow: 0 10px 25px Rgba(92,99,105,.2)
}

.form-label{
  
  display: flex;
  margin-left: 1rem;
  margin-top: .8rem;
}

:root{
  --first-color: hsl(224, 82%, 51%);
  --input-color: #80868B;
  --border-color: #DADCE0;
  --normal-font-size: 1rem;
  --samll-font-size: .75rem;
  
}

.form-button{
  display:block;
  margin-top: 1.5rem;
  margin-left: 5%;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  width: 60%
}

.form-button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);

}

.form-textarea{
  width: 90%;
  height: 100%;
  border-radius: .5rem;
  padding: 1rem;
}

.addAstericks:after {
  content:" *";
  color:red;
  width:5%
}


.noneAstericks{
  margin:auto !important;
  width: 90%;  
  margin-top: .8rem !important;
  padding-bottom: 1rem;
}

input[type="date"]{
  width: 90%;
  padding: .2rem;
}

.applicant-info{
  width:350px;
  padding: 2rem 2rem;
  border-radius: .5rem;
  /* border: 1px solid black; 
  box-shadow: 0 10px 25px Rgba(92,99,105,.2)
}


.info li {
  display: grid;
}

.optionButtons{
  width: 25%;
  border-radius: 15px;
  padding:.5rem;
  border: 2px solid rgb(29, 198, 186);
}

.optionButtons:hover{
  color: #111;
  box-shadow: 0 0 20px rgb(29, 198, 186);
  border-radius: 15px;
  padding:.5rem;
  border: 2px solid rgb(29, 198, 186);


}


.form-control{
  width:100% !important;
}

.selectInput{
  margin: auto !important;
  display : flex;
  width:25% !important;
}

.chatBotHeader{
  height: 5rem;
  background-color: black;
  display: grid;
  padding:.8rem;
  grid-template-columns: auto auto auto;
}

.chatBotHeader input {
  width: 30%;
  margin:auto;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

.chatBotHeader h1 {
 color: white;

}

.chatbotBody{  
  height:62.8vh !important;
  overflow:auto !important;
}

.chatbotFooter{
  display: grid;
  grid-template-columns: auto auto;
  height: 5rem;
  background-color: black;
}

.chatbotFooter p {
  padding: 2rem;
}

.chatbotFooter input {
  margin-bottom: 1.5rem;
  width:100px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.applicantInfomationContainer{
  /* color:white; 
  border: 5px solid #033333;
  width:80%;
  border-radius: 10px;
  margin:auto;
  padding:1rem;
  background-color: #033333;
}

.applicantInfomation{
  /* color:white; 
  background-color: white;
  border: 5px solid #033333;
  border-radius: 10px;
  margin:auto;
  padding:2rem;
}

.applicantInfomation ul{
display:grid;
flex-direction: column;
text-align: left !important;
margin: 0 !important;
padding-left:0rem;
}
.applicantInfomation p{
  color:#033333 !important;
  text-align: left !important;
}


.applicantInfomationButtons{
  display:grid;
  grid-template-columns: auto auto;
width: 100%;
}

.applicantInfomationButtons input{
  color:#033333;
margin: auto;
width: 80%;
}

.headerButtons{
  cursor: pointer;
}

.headerButtons:hover{
  box-shadow: 0px 0px 30px;
  border: 2px solid rgb(29, 198, 186);
} */
