.container {
  width: 60%;
  text-align: center;
  margin: auto;
  height: 60vh;
  margin-top: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header {
  display: flex;
  padding: 1rem;
  background-color: #000;
  justify-content: space-around;
  width: 90%;
  margin-left: 6.4rem;

}

.reset-button {
  border-radius: 1rem;
  width: 9%;
  height: 7vh;
  margin-top: 1rem;
  margin-right: 9rem;

}

.speak-to-an-agent {
  border-radius: 1rem;
  margin-left: -13rem;
  margin-top: 0.9rem;
}

h1 {
  margin-right: 19rem;
}