.example1 {
  display: grid;
  gap: 1rem;
  margin-top:1rem;
}

.example2 {
  display: grid;
  gap: 1rem;
  margin-top:2rem;
}

/* .logo{

  
} */

.logo {
  background-color: rgb(7, 90, 7);
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 15s;
  -moz-animation: fadeIn 15s;
  -o-animation: fadeIn 15s;
  -ms-animation: fadeIn 15s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.treeOptions{
  padding-top:2rem;
}