.example1 {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.example2 {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}
.treeOptions {
  padding-top: 2rem;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

.logo {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.logo {
  margin-right: 38rem;
  margin-left: 38rem;
  animation-name: example;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes example {
  0% {
    background-color: #555555;
    top: 0px;
  }
  50% {
    background-color: #2a7e5f;
    top: 0px;
  }
  100% {
    background-color: #033333;
    top: 0px;
  }
}

.jsonForm {
  display: grid;
}

li {
  list-style-type: none;
}
