@media (min-width: 375px) and (max-width: 667px) {

    .logo {
        display: none;
      
    }

  .chatbotFooter{
    display: flex;
  }

    .chatBotHeader {
        color: white;
        background-color: black;
        padding: 0.8rem;
      
    }
    .heading{
      margin-bottom: 1rem;
    }

.introMessage{
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem !important;
}

.chatbotFooter p {
    float: left;
    margin-right: 11rem;
}

.form-control{
  width: 100% !important;
}

}


   