@media (min-width: 375px) and (max-width: 667px) {

    .logo {
        display: none;
      
    }

    .headerButtons {
      margin-left: 2rem;
    }
*{
  
  box-sizing: border-box;
}
    .chatBotHeader {
        color: white;
        /* height: 5rem; */
        background-color: black;
        /* display: grid; */
        padding: 0.8rem;
        /* grid-template-columns: auto auto; */
        /* text-align: center; */
    }

}
   